.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.header {
  position: static; /* remove sticky or fixed */
  width: 100%;
  z-index: 10;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button.amplify-button.amplify-field-group__control.amplify-button--primary {
  background: #f05a22;
  font-size: 1rem;
  font-weight: 400;
}
/* .amplify-flex {
  padding: 1rem 1rem !important;
} */
.amplify-flex.liveness-detector-check {
  gap: 0;
}
.amplify-liveness-toast.amplify-liveness-toast--primary.amplify-liveness-toast--large {
  background: transparent !important;
  font-size: 1.2rem !important;
  /* margin-top: -30px; */
  /* margin-left: 72px; */
}
.amplify-liveness-camera-module {
  background-color: transparent !important;
}
.amplify-flex.amplify-liveness-toast__message div {
  color: #f05a22 !important;
}
.amplify-flex.amplify-liveness-camera-module {
  padding: 0 !important;
  margin: 0 !important;
}
.amplify-flex.amplify-alert.amplify-liveness-start-screen-warning {
  background: red !important;
  display: none;
}
/* .amplify-liveness-camera-module
{
  border : none !important;
} */
.amplify-liveness-overlay {
  padding: 0.5rem !important;
}
.amplify-flex {
  margin-bottom: 3rem;
}

@media (max-width: 767px) {
}
